:root {
 --bs-primary: #ffea6e !important; 
}

body{
  --bs-font-sans-serif: Lato,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
  --bs-body-font-family: var(--bs-font-sans-serif);
}

header a.moniker{
  margin-left: 15px;
}

.clipboard.copied{
  text-decoration: underline;
}

a {
  color: #ffea6e;
}

.important-link {
  color: #ffea6e;
}

.important-link:hover{
  color: #ffea6e !important;
  opacity: 50%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 10px 3px #FFEA6E !important; 
  opacity: 1;
}

.disabled {
  opacity: 50%;
}

.dark-validator {
  color: #FFF;
}

.light-validator {
  color: #000;
}

.select-wrapper {
  border: 1px solid #000000; 
  border-color: #000000 !important;
  border-radius: 5px;
  cursor: pointer;
}


.select-wrapper:hover {
  box-shadow: 0 0 10px 3px #FFEA6E; 
}

.select-wrapper select option:hover,
.select-wrapper select option:focus {
  background-color: #f0f0f0; /* Set background color on hover or focus */
  color: #333; /* Set text color on hover or focus */
}


.markdown-container a {
  color: #FFEA6E;
}

.markdown-container a:hover {
  color: #FFEA6E !important;
  opacity: 50%;
}


.bttn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #FFEA6E !important;
  border-color: black !important;
  color: #000000 !important;
}

.bttn:hover, .bttn-tertiary:hover {
  box-shadow: 0 0 10px 3px #FFEA6E; 
  background-color: #060606 !important;
  color: #ffffff !important;
}

.bttn-tertiary {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem 1rem;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #000000;
}

.btn-circle-sm {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

code {
  padding: 0.5rem;
  line-height:1.5rem;
}

code p{
  margin-bottom: 0.5rem;
}
  
.favourite-on .on,
.favourite-off .off {
  display: block !important;
}

.favourite-on .off,
.favourite-off .on {
  display: none !important;
}

.nav-pillls .nav-link.active {
  background-color: #FFEA6E !important;
  color: #000 !important;
}

.dark-link {
 color: #ffea6e !important;
}

.light-link {
 color: #000 !important;    
}

@media (hover: hover) {
  .favourite-on:hover .off,
  .favourite-off:hover .on{
    display: block !important;
  }

  .favourite-on:hover .on,
  .favourite-off:hover .off {
    display: none !important;
  }
}

.dark-bar {
  background-color: #303030 !important;
}

pre.pre-wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }
